body{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.main_bg {
        
    display: flex;
    background:url(img/Background\ chemistry_w.jpeg) center center no-repeat;  
    position: relative;
    background-size: cover;    
}

.hr-dark{
    border-top: rgb(41, 38, 38) solid 2px;
    width: auto;
}

.title_h1{
    text-align: center; 
}

.title_h2{
    text-align: center;
}

#areas, .programs {
    width: 80%;
    margin-left: auto; 
    margin-right: auto;

    margin-top: 50px;
    margin-bottom: 50px;
}

.pictures, .chemist {
    border: black solid 5px;
    border-radius: 10px;  
}

.pictures {
    box-shadow: gray 5px 5px 10px;  
    transition: 0.3s;
}

.pictures:hover{
    opacity: 0.4;
    transition: 0.3s;   
}

.formulae, .borderchem {
    border: gray solid 2px;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: gray 5px 5px 10px;  

}

p, figcaption, li {
    text-align: justify;
}

.borderchem {
    background-color: white;
}




/* XS devices  */
@media only screen and (max-width: 525px){
    #bg_size {                
        height: 400px;    
    }
    .title_h1{
        font-size: 24px;
    }
    .title_h2{
        font-size: 20px;
    }
}

/* SM devices */
@media only screen and (min-width: 526px) and (max-width: 767px) {
    #bg_size {                
        height: 400px;    
    }
    .title_h1{
        font-size: 24px;
    
    }
    .title_h2{
        font-size: 20px;
    }
} 


/* MD devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #bg_size {                
        height: 500px;    
    }  
    .title_h1{
        font-size: 26px;
    
    }
    .title_h2{
        font-size: 22px;
    }
}

/* LG devices */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #bg_size {                
        height: 700px;    
    } 
    .title_h1{
        font-size: 28px;
    
    }
    .title_h2{
        font-size: 24px;
    }
}

/* XL devices */
@media only screen and (min-width: 1200px) {
    #bg_size {                
        height: 900px;    
    }   
    .title_h1{
        font-size: 30px;
    
    }
    .title_h2{
        font-size: 26px;
    } 
}
